*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --main-heading:hsl(24, 5%, 18%);
  --h2-color:hsl(14, 45%, 36%);
  --boundary-color:hsl(30, 18%, 87%);
  --text-color:hsl(30, 10%, 34%);
  --prep-bg:hsl(330, 100%, 98%);
  --prep-heading:hsl(332, 51%, 32%);
  --main-page-bg: hsl(30, 54%, 90%);
}

@font-face {
  font-family: text;
  src: url(/public/fonts/outfit/static/Outfit-Bold.ttf);
}

@font-face {
  font-family: headings;
  src: url(/public/fonts/young-serif/YoungSerif-Regular.ttf);
}